{% extends "admin/templates/admin_base_public.html" %}

{% block title%}Admin profile{%endblock%}

{% block main%}
<body>
    <h1 style = 'color: purple'>Chetan Fernandes</h1>
    <link rel = "stylesheet" href= "{{url_for('static', filename = 'css/style.css')}}">
    <p style="text-align:center;"><img src = "{{url_for('static', filename = 'img/Chetan.JPG')}}" width="300" height="350"></script>
    <script src = "{{url_for('static', filename = 'js/app.js') }}"></script>
  </body>
  </html>
{%endblock%}