{% extends "public/templates/base_public.html" %}


{% block title%}Home Page{%endblock%}

{% block main%}
<body>
  <p><center><h1 style = 'color: purple'>Greetings!</h1>
    <p><center><h1 style = 'color: blue'>Wish you all - Happy New year</h1></p>
  <link rel = "stylesheet" href= "{{url_for('static', filename = 'css/style.css')}}">

  <p style="text-align:center;"><img  src = "{{url_for('static', filename = 'img/Hug2Love.jpg')}}" width="200" height="250"></script>

  <script src = "{{url_for('static', filename = 'js/app.js') }}"></script>
</body>
</html>
{%endblock%}